name: Terraform Drift Detection

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  drift:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infrastructure/terraform/environments/dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan (Drift Check)
        run: terraform plan -detailed-exitcode
